model_config_list: {
    config: {
        name: "popart",
        base_path: "/models/popart",
        model_platform: "tensorflow",
        model_version_policy: {
           all: {}}},
    config: {
        name: "yule2",
        base_path: "/models/yule2",
        model_platform: "tensorflow",
        model_version_policy: {
           latest: {
               num_versions: 1
            }}},
    config: {
        name: "yule2_mobile",
        base_path: "/models/yule2_mobile",
        model_platform: "tensorflow",
        model_version_policy: {
           specific: {
               versions: 1
            }}}}
