numpy
# tools/<some_packages>

### Already has:
# opencv-python
# tensorflow==1.14
# tensorflow-serving-api==1.14
# numpy
# func_timeout
# grpcio==1.25 --no-binary grpcio
# grpcio-tools==1.25
# pyyaml
# requests
# flask
# redis
# kafka-python
# ConcurrentLogHandler==0.9.1
# gunicorn